.job-posts-container {
  margin: 5.7rem 2.4rem 3.2rem;
  display: flex;
  flex-direction: column;
  row-gap: 4.9rem;
}
.button-container {
  text-align: center;
  margin-bottom: 6.2rem;
}

/* Tablet */
@media (min-width: 768px) {
  .job-posts-container {
    /* margin: 7rem 4rem 5.6rem; */
    margin: 7rem auto 5.6rem;
    width: 68.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.1rem;
    row-gap: 6.5rem;
  }
}
