.header {
  padding: 3.2rem 2.4rem 7.2rem;
  display: flex;
  justify-content: space-between;
  background-image: url("../assets/mobile/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.toggle-theme-container {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.logo:hover {
  cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) {
  .header {
    width: 76.8rem;
    margin: 0 auto;
    padding: 4.2rem 4rem 7.2rem;
    background-image: url("../assets/tablet/bg-pattern-header.svg");
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .header {
    width: 144rem;
    padding: 6.2rem 16.5rem 7.2rem;
    background-image: url("../assets/desktop/bg-pattern-header.svg");
  }
}
