.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -4rem 2.4rem 0 2.4rem;
  padding: 0 1.6rem 0 2.4rem;
  background-color: var(--search-filter-color);
  border-radius: 0.6rem;
}
.right-side {
  display: flex;
  align-items: center;
}
.filter-options {
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-filter-container input,
.location-filter-container input {
  height: 8rem;
  cursor: pointer;
}
.filter-options:hover {
  cursor: pointer;
}
.filter-options svg path {
  fill: var(--filter-option-logo-color);
}
.search-icon-container {
  background-color: var(--violet);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-out;
}
.search-icon-container:hover {
  cursor: pointer;
}
.search-icon-container:hover {
  background-color: var(--light-violet);
}
.title-filter-container img,
.tablet-desktop-options {
  display: none;
}
.input-title-large-text {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 76.8rem;
    margin: -4rem 4rem 0 4rem;
    padding: 0 1.6rem 0 0;
    justify-content: center;
  }
  .right-side {
    display: none;
  }
  .title-filter-container img {
    display: initial;
  }
  .tablet-desktop-options {
    display: flex;
    align-items: center;
  }
  .checkbox-full-text {
    display: none;
  }
  .title-filter-container,
  .location-filter-container {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    border-right: 0.1rem solid #6e809820;
    padding-left: 2.4rem;
  }
  .title-filter-container input,
  .location-filter-container input {
    width: 16rem;
  }
  .checkbox {
    padding: 0 !important;
    margin: 0 2rem;
  }
  .button-container button {
    padding: 1.6rem 1.4rem;
  }
}

@media (min-width: 848px) {
  .container {
    margin: -4rem auto 0;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .container {
    max-width: 111rem;
    padding: 0 1.6rem 0 0;
  }
  .title-filter-container,
  .location-filter-container {
    column-gap: 1.6rem;
  }
  .title-filter-container {
    padding-left: 3.2rem;
  }
  .location-filter-container {
    padding-left: 2.3rem;
  }
  .title-filter-container input {
    width: 39rem;
  }
  .location-filter-container input {
    width: 24.3rem;
  }
  .checkbox {
    margin: 0 2.6rem 0 3.2rem;
  }
  .checkbox-short-text {
    display: none;
  }
  .checkbox-full-text {
    display: initial;
  }
  .button-container button {
    padding: 1.6rem 3.5rem;
  }
  .input-title-short-text {
    display: none;
  }
  .input-title-large-text {
    display: initial;
  }
}
