.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -4rem 2.4rem 0 2.4rem;
  padding: 1.6rem 1.6rem 1.6rem 2.4rem;
  background-color: var(--search-filter-color);
  border-radius: 0.6rem;
}
.container input {
  background-color: var(--search-filter-color);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border: none;
  outline: none;
  color: var(--search-filter-input-text-color);
  caret-color: var(--violet);
}
.container input::placeholder {
  opacity: 0.5;
  color: var(--search-filter-input-text-color);
}
.right-side {
  display: flex;
  align-items: center;
}
.filter-options {
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-options svg path {
  fill: var(--filter-option-logo-color);
}
.search-icon-container {
  background-color: var(--violet);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon-container:hover {
  cursor: pointer;
}
.search-icon-container:active {
  background-color: var(--light-violet);
}
