.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -4rem 2.4rem 0 2.4rem;
  padding: 1.6rem 1.6rem 1.6rem 2.4rem;
  background-color: var(--search-filter-color);
  border-radius: 0.6rem;
}
.right-side {
  display: flex;
  align-items: center;
}
.filter-options {
  height: 4.8rem;
  width: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-options:hover {
  cursor: pointer;
}
.filter-options svg path {
  fill: var(--filter-option-logo-color);
}
.search-icon-container {
  background-color: var(--violet);
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-out;
}
.search-icon-container:hover {
  cursor: pointer;
}
.search-icon-container:hover {
  background-color: var(--light-violet);
}
