@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* Primary Colors */
  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;

  /* Secondary Colors */
  --white: #ffffff;
  --light-grey: #f4f6f8;
  --gray: #9daec2;
  --dark-grey: #6e8098;
}

/* Detect if the user has light color theme, or not selected one */
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    --body-background-color: var(--light-grey);
    --search-filter-color: var(--white);
    --search-filter-input-text-color: var(--very-dark-blue);
    --filter-option-logo-color: var(--dark-grey);
    --job-post-color: var(--white);
    --position-title-color: var(--very-dark-blue);
    --contract-text-color: var(--very-dark-blue);
    --checkbox-color: var(--very-dark-blue);
    --job-description-text: var(--dark-grey);
  }
}
/* Detect if the user has dark color theme */
@media (prefers-color-scheme: dark) {
  :root {
    --body-background-color: var(--midnight);
    --search-filter-color: var(--very-dark-blue);
    --search-filter-input-text-color: var(--white);
    --filter-option-logo-color: var(--white);
    --job-post-color: var(--very-dark-blue);
    --position-title-color: var(--white);
    --contract-text-color: var(--white);
    --checkbox-color: var(--white);
    --job-description-text: var(--gray);
  }
}
/* Switch to light theme by clicking the icon */
[theme-mode="light"] {
  --body-background-color: var(--light-grey);
  --search-filter-color: var(--white);
  --search-filter-input-text-color: var(--very-dark-blue);
  --filter-option-logo-color: var(--dark-grey);
  --job-post-color: var(--white);
  --position-title-color: var(--very-dark-blue);
  --contract-text-color: var(--very-dark-blue);
  --checkbox-color: var(--very-dark-blue);
  --job-description-text: var(--dark-grey);
}
/* Switch to dark theme by clicking the icon */
[theme-mode="dark"] {
  --body-background-color: var(--midnight);
  --search-filter-color: var(--very-dark-blue);
  --search-filter-input-text-color: var(--white);
  --filter-option-logo-color: var(--white);
  --job-post-color: var(--very-dark-blue);
  --position-title-color: var(--white);
  --contract-text-color: var(--white);
  --checkbox-color: var(--white);
  --job-description-text: var(--gray);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
s *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  background-color: var(--body-background-color);
  overflow-x: hidden;
}
/* Globals */
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  margin: 0;
}
h1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}
h2 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}
h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
