.modal {
  position: absolute;
  z-index: 5;
  background-color: var(--search-filter-color);
  margin: 22.5rem calc(50% - 16.35rem) 0;
  width: 32.7rem;
  height: 21.7rem;
  padding: 2.4rem 0;
  border-radius: 0.6rem;
}
.input-container {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  padding: 0 2.4rem 2.4rem;
  border-bottom: 0.1rem solid #6e809820;
}
.input-container input {
  border: none;
  outline: none;
}
.button-container {
  text-align: center;
  padding: 0 2.4rem 2.4rem;
}
.button-container button {
  width: 100%;
}

@media (min-width: 768px) {
  .modal {
    display: none;
  }
}
