.modal {
  position: absolute;
  z-index: 5;
  background-color: var(--search-filter-color);
  margin: 22.5rem calc(50% - 16.35rem) 0;
  width: 32.7rem;
  height: 21.7rem;
  padding: 2.4rem 0;
  border-radius: 0.6rem;
}
.input-container {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  padding: 0 2.4rem 2.4rem;
  border-bottom: 0.1rem solid #6e809820;
}
.input-container input {
  border: none;
  outline: none;
}
.full-time-checkbox-container {
  padding: 2.8rem 2.4rem;
}
/* Checkbox credit: W3Schools */
/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.4rem;
  width: 2.4rem;
  opacity: 10.35%;
  background-color: var(--checkbox-color);
  margin-top: -0.4rem;
  border-radius: 0.3rem;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a color background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--violet);
  opacity: 100%;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.full-time-checkbox-container p {
  color: var(--contract-text-color);
  font-weight: 700;
  line-height: 1.6rem;
  margin-left: 4rem;
}
.button-container {
  text-align: center;
  padding: 0 2.4rem 2.4rem;
}
.button-container button {
  width: 100%;
}
